{%- liquid
  assign collection_featured_image = product.metafields.custom.collection_page_featured_image.value
  if collection_featured_image != blank
    assign product_image = collection_featured_image
  else
    assign product_image = product.featured_media.preview_image
  endif
-%}
<div class="bundle-product__card" data-collection="{{ product.metafields.custom.collection_name | metafield_text }}">
  <a class="bundle-product_card_link" href="{{ product.url }}"></a>
  <div class="bundle-product__image-wrapper">
    <img class="bundle-product__image" src="{{ product_image | image_url }}" alt="{{ product.title }}" >
    {%- if is_bestseller -%}
      <div class="bundle-product__bestseller-badge">BESTSELLER</div>
    {%- endif -%}
  </div>
  <div class="bundle-product__details">
    <div class="bundle-product__info">
       <p class="product__grid__collection-name"> {{ product.metafields.custom.collection_name | metafield_text }} </p>
      <span class="bundle-product__title">{{ product.title }}</span>
    </div>
    <div class="bundle-product__price">
      <span class="bundle-product__price--regular">Included In <br>Gift Box Bundle</span>
    </div>
  </div>
  <div class="bundle-product__actions">
    <button
      class="bundle-product__atc"
      data-variant-id="{{ product.first_available_variant.id }}"
      data-product-id="{{ product.id }}"
      data-product-handle="{{ product.handle }}"
      data-product-title="{{ product.title }}"
      data-product-image="{{ product_image | image_url }}"
      data-product-collection="{{ product.metafields.custom.collection_name | metafield_text }}"
      data-add-to-box
    >
      ADD TO BOX
    </button>
    <div class="bundle-product__quantity-wrapper" style="display: none;">
      <button class="bundle-product__quantity-button bundle-product__quantity-button--minus" data-decrease-box-quantity type="button" aria-label="Decrease quantity">&minus;</button>
      <input 
        class="bundle-product__quantity-input"
        data-box-quantity-input
        aria-label="Quantity"
        type="number"
        min="1"
        value="1"
        data-variant-id="{{ product.first_available_variant.id }}"
      />
      <button class="bundle-product__quantity-button bundle-product__quantity-button--plus" data-increase-box-quantity type="button" aria-label="Increase quantity">+</button>
    </div>
     <button
  class="st-wishlist-button wishlist-button"
  data-type="details"
  data-handle="{{ product.handle }}"
  aria-label="Add to wishlist"
>
</button>
  </div>
</div>
