{%- liquid
  assign collection_featured_image = product.metafields.custom.collection_page_featured_image.value
  if collection_featured_image != blank
    assign product_image = collection_featured_image
  else
    assign product_image = product.featured_media.preview_image
  endif
-%}
<div class="bundle-product__card" data-collection="{{ product.metafields.custom.collection_name | metafield_text }}">
  <a class="bundle-product_card_link" href="{{ product.url }}"></a>
  <img class="bundle-product__image" src="{{ product_image | image_url }}" alt="{{ product.title }}" >
  <div class="bundle-product__details">
    <div class="bundle-product__info">
       <p class="product__grid__collection-name"> {{ product.metafields.custom.collection_name | metafield_text }} </p>
      {% comment %} <span class="bundle-product__collection">{{ product.collections[0].title }}</span> {% endcomment %}
      <span class="bundle-product__title">{{ product.title }}</span>
    </div>
    <div class="bundle-product__price">
      {% if product.compare_at_price > product.price %}
        <span class="bundle-product__price--sale">{{ product.price | money_without_trailing_zeros }}</span>
        <span class="bundle-product__price--compare">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
      {% else %}
        <span class="bundle-product__price--regular">{{ product.price | money_without_trailing_zeros }}</span>
      {% endif %}
    </div>
  </div>
  <div class="bundle-product__actions">
    {% assign first_variant = product.variants.first %}

    {% for allocation in first_variant.selling_plan_allocations %}
      {% assign first_selling_plan_id = allocation.selling_plan.id %}
      {% break %}
    {% endfor %}
    <button
      class="bundle-product__atc"
      data-variant-id="{{ product.first_available_variant.id }}"
      data-selling-plan="{{ first_selling_plan_id }}"
      data-add-to-cart
    >
      ADD TO CART
    </button>
     <button
  class="st-wishlist-button wishlist-button"
  data-type="details"
  data-handle="{{ product.handle }}"
  aria-label="Add to wishlist"
>
</button>
  </div>
</div>
