<!-- /snippets/product-price.liquid -->
{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  assign on_sale = false
  if current_variant.compare_at_price > current_variant.price
    assign on_sale = true
  endif

  if block.settings.price_size
    assign price_size_class = block.settings.price_size | prepend: 'accent-size-'
    assign price_small_class = block.settings.price_size | minus: 1 | prepend: 'accent-size-'
  endif
-%}

<div
  class="product__block__price"
  style="--PB: {{ block.settings.padding_bottom }}px;"
  {{ block.shopify_attributes }}
>
  <div class="product__price__wrap">
    <div class="product__price__main" data-price-wrapper>

      <!-- CURRENT PRICE -->
      <span class="product__price {{ price_size_class }}">
        <span
          data-product-price
          class="product__price-current {% if on_sale %}is-sale{% endif %}"
        >
          {% if settings.currency_code_enable %}
            {{ current_variant.price | money_without_trailing_zeros | append: ' ' | append: shop.currency }}
          {% else %}
            {{ current_variant.price | money_without_trailing_zeros }}
          {% endif %}
        </span>
      </span>

      <!-- COMPARE PRICE -->
      {% if on_sale %}
        <span
          data-compare-price
          class="product__price--compare {{ price_size_class }}"
        >
          {% if settings.currency_code_enable %}
            {{ current_variant.compare_at_price | money_without_trailing_zeros | append: ' ' | append: shop.currency }}
          {% else %}
            {{ current_variant.compare_at_price | money_without_trailing_zeros }}
          {% endif %}
        </span>
      {% endif %}

      <!-- UNIT PRICE (UNCHANGED) -->
      {% liquid
        assign units = product.variants | map: 'unit_price' | compact
        assign has_units = units.size > 0
      %}

      {% if has_units %}
        <div class="product__price--unit {{ price_small_class }}">
          <span data-product-unit {% unless current_variant.unit_price %}style="display:none"{% endunless %}>
            <span class="visually-hidden visually-hidden--inline">
              {{ 'products.product.unit_price_label' | t }}
            </span>
            <span data-product-unit-price>
              {% if settings.currency_code_enable %}
                {{ current_variant.unit_price | money_without_trailing_zeros | append: ' ' | append: shop.currency }}
              {% else %}
                {{ current_variant.unit_price | money_without_trailing_zeros }}
              {% endif %}
            </span>
            <span aria-hidden="true">/</span>
            <span class="visually-hidden">
              {{ 'general.accessibility.unit_price_separator' | t }}
            </span>
            <span>
              {% if current_variant.unit_price_measurement %}
                {% if current_variant.unit_price_measurement.reference_value != 1 %}
                  {{ current_variant.unit_price_measurement.reference_value }}
                {% endif %}
                {{ current_variant.unit_price_measurement.reference_unit }}
              {% endif %}
            </span>
          </span>
        </div>
      {% endif %}

    </div>
  </div>
</div>
