
{% liquid
  assign text_color = block.settings.text_color
  assign text_size = block.settings.text_size
  assign text = block.settings.text
  assign gap_x = block.settings.gap_x
  assign gap_y = block.settings.gap_y

  # Number of times to repeat text. Should be enough for most cases, but can be adjusted if needed.
  assign repetitions = 500
  assign highlight_enable = block.settings.highlight_enable
  assign highlight_repeat = block.settings.highlight_repeat
%}

{% if highlight_enable %}
  {% style %}
    .{{ block.id }}-repetition:nth-child({{ highlight_repeat }}n) {
      --tw-text-stroke-fill-color: var(--text-color)
    }
  {% endstyle %}
{% endif %}

<div class="absolute inset-0 pointer-events-none overflow-hidden !z-10" {{ block.shopify_attributes }}>
  <div
    class="
      pointer-events-none
      type-{{ block.settings.font_family }}
      font-bold uppercase pointer-events-none select-none
      h-full flex flex-row flex-wrap
      *:flex *:items-center *:justify-center *:text-[color:--text-color] *:text-stroke *:text-stroke-[color:--text-color] *:h-[0.8em]
    "
    style="
      --text-color: {{ text_color }};
      column-gap: {{ gap_x }}px;
      row-gap: {{ gap_y }}px;
      font-size: {{ text_size }}px;
      {% comment %} Dont resize the pattern text container until the window is massive, and ensure the container stays bigger than the window {% endcomment %}
      width: max(2000px, 130vw)
    "
  >
    {% for num in (1..repetitions) %}
      <span class="{{ block.id }}-repetition">
        {{ text }}
      </span>
    {% endfor %}
  </div>

</div>

{% schema %}
{
	"name": "Pattern text",
	"tag": null,
	"settings": [
		{
			"type": "text",
			"id": "text",
			"label": "Text",
			"default": "SALE"
		},
		{
			"type": "select",
			"id": "font_family",
			"label": "Font",
			"default": "body",
			"options": [
				{
					"value": "heading",
					"label": "Title"
				},
				{
					"value": "body",
					"label": "Body"
				},
				{
					"value": "accent",
					"label": "Accent"
				}
			]
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text color",
			"default": "#000"
		},
		{
			"type": "range",
			"id": "text_size",
			"label": "Size",
			"min": 50,
			"max": 120,
			"step": 5,
			"default": 70,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Spacing"
		},
		{
			"type": "range",
			"id": "gap_y",
			"label": "Vertical Gap",
			"min": 0,
			"max": 100,
			"step": 5,
			"default": 10,
			"unit": "px"
		},
		{
			"type": "range",
			"id": "gap_x",
			"label": "Horizontal Gap",
			"min": 0,
			"max": 100,
			"step": 5,
			"default": 10,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Highlight"
		},
		{
			"type": "checkbox",
			"id": "highlight_enable",
			"label": "Enable highlight",
			"default": true
		},
		{
			"type": "range",
			"id": "highlight_repeat",
			"label": "Repeat after",
			"min": 1,
			"max": 10,
			"step": 1,
			"default": 5
		}
	],
	"presets": [
		{
			"name": "Pattern text"
		}
	]
}
{% endschema %}
