
{% liquid
  assign border_class = ''
  if section.settings.borders
    assign border_class = 'brick--border'
  endif

  assign margin_class = ''
  if section.settings.brick_gutter > 0
    assign margin_class = 'brick--margin'
  endif
%}

<section
  data-section-id="{{ section.id }}"
  {% comment %} Don't change this. Needs to be 'custom-content' instead of the actual name of this section to hook up various web component stuff which relies on this selector {% endcomment %}
  data-section-type="custom-content"

  style="
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
    --BRICK-GUTTER: {{ section.settings.brick_gutter }}px;
    {% if section.settings.bg_color != blank %}background-color: {{ section.settings.bg_color }};{% endif %}
  "

  x-data
  x-ensemble

  {% if request.design_mode %}
    @shopify:section:select.window='if ($isSelectedSection) { isPlaying = false }'
    @shopify:section:deselect.window='if ($wasSelectedSection) { isPlaying = true }'
  {% endif %}
>
  <div class="section-padding {{ section.settings.width }}" data-wrapper>
    <div
      class="
        brick__section brick--2
        {{ margin_class }} {{ border_class }} use_image

        {% if section.settings.order == 'accordion-first' %}
          brick__section--reverse
        {% endif %}
      "
      data-overflow-wrapper
    >
      {% # theme-check-disable UniqueStaticBlockId %}
      {% if section.settings.order == 'hotspots-first' %}
        {% content_for 'block', type: '_pair-hotspots', id: 'hotspots' %}
        {% content_for 'block', type: '_pair-accordion', id: 'accordion' %}
      {% else %}
        {% content_for 'block', type: '_pair-accordion', id: 'accordion' %}
        {% content_for 'block', type: '_pair-hotspots', id: 'hotspots' %}
      {% endif %}
      {% # theme-check-enable UniqueStaticBlockId %}
    </div>
  </div>
</section>

{% schema %}
{
	"name": "Pair: Hotspots & Text",
	"tag": "div",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Image Mobile"
		},
		{
			"type": "select",
			"id": "order",
			"label": "Order",
			"default": "hotspots-first",
			"options": [
				{
					"value": "hotspots-first",
					"label": "Hotspots first"
				},
				{
					"value": "accordion-first",
					"label": "Text first"
				}
			]
		},
		{
			"type": "range",
			"id": "duration",
			"min": 1,
			"max": 15,
			"step": 1,
			"unit": "sec",
			"label": "Change slides every",
			"default": 5
		},
		{
			"type": "select",
			"id": "dot_color",
			"label": "Dot color",
			"default": "palette--dark bg--invert",
			"options": [
				{
					"value": "palette--light bg--neutral",
					"label": "Default"
				},
				{
					"value": "palette--light bg--accent",
					"label": "Light"
				},
				{
					"value": "palette--dark bg--invert",
					"label": "Dark"
				},
				{
					"value": "palette--dark bg--invert--accent",
					"label": "Dark accent"
				},
				{
					"value": "palette--bright bg--bright",
					"label": "Bright"
				},
				{
					"value": "palette--bright bg--bright--accent",
					"label": "Bright accent"
				}
			]
		},
		{
			"type": "header",
			"content": "Section layout"
		},
		{
			"type": "range",
			"id": "brick_gutter",
			"min": 0,
			"max": 50,
			"step": 2,
			"unit": "px",
			"label": "Block spacing",
			"default": 0
		},
		{
			"type": "checkbox",
			"id": "borders",
			"label": "Add borders",
			"default": false
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background"
		},
		{
			"type": "header",
			"content": "Section spacing"
		},
		{
			"type": "select",
			"id": "width",
			"label": "Width",
			"default": "wrapper",
			"options": [
				{
					"value": "wrapper--none",
					"label": "Full width"
				},
				{
					"value": "wrapper--full",
					"label": "Full width padded"
				},
				{
					"value": "wrapper",
					"label": "Page width"
				},
				{
					"value": "wrapper--narrow",
					"label": "Page width narrow"
				},
				{
					"value": "wrapper--tiny",
					"label": "Page width extra narrow"
				}
			]
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 180,
			"step": 2,
			"unit": "px",
			"label": "Padding top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 180,
			"step": 2,
			"unit": "px",
			"label": "Padding bottom",
			"default": 36
		}
	],
	"blocks": [
		{
			"type": "_pair-hotspots"
		},
		{
			"type": "_pair-accordion"
		}
	],
	"presets": [
		{
			"name": "Pair: Hotspots & Text",
			"blocks": [
				{
					"type": "_pair-hotspots",
					"id": "hotspots",
					"static": true,
					"blocks": [
						{
							"type": "_pair-hotspots-hotspot",
							"settings": {
								"top": 45,
								"left": 30,
								"top_mobile": 45,
								"left_mobile": 30
							}
						},
						{
							"type": "_pair-hotspots-hotspot",
							"settings": {
								"top": 55,
								"left": 55,
								"top_mobile": 55,
								"left_mobile": 55
							}
						},
						{
							"type": "_pair-hotspots-hotspot",
							"settings": {
								"top": 60,
								"left": 75,
								"top_mobile": 60,
								"left_mobile": 75
							}
						}
					]
				},
				{
					"type": "_pair-accordion",
					"id": "accordion",
					"static": true,
					"blocks": [
						{
							"type": "_pair-title",
							"id": "title",
							"static": true,
							"blocks": [
								{
									"type": "theme-kicker",
									"settings": {
										"kicker": "Key Features"
									}
								}
							]
						},
						{
							"type": "_pair-accordion-item",
							"settings": {
								"title": "The highest quality"
							},
							"blocks": [
								{
									"type": "theme-text",
									"settings": {
										"text": "Crafted with precision and attention to detail, we ensure excellence. Designed to meet the highest standards, ensuring an exceptional experience every time.",
										"text_size": 4
									}
								}
							]
						},
						{
							"type": "_pair-accordion-item",
							"settings": {
								"title": "Reliability you can trust"
							},
							"blocks": [
								{
									"type": "theme-text",
									"settings": {
										"text": "Made to perform when it matters most, we offer quality that you can count on. Tested and proven to deliver consistent results, it's made for everyday use and beyond.",
										"text_size": 4
									}
								}
							]
						},
						{
							"type": "_pair-accordion-item",
							"settings": {
								"title": "Premium inputs, quality product"
							},
							"blocks": [
								{
									"type": "theme-text",
									"settings": {
										"text": "Using only the finest inputs, we are able to craft a result that stands apart. The details matter and we put time and effort into ensuring our customers get the best.",
										"text_size": 4
									}
								}
							]
						}
					]
				}
			]
		}
	],
	"disabled_on": {
		"groups": [
			"header",
			"custom.overlays"
		]
	}
}
{% endschema %}

